<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Student List</h1>
    <table border="1">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>College</th>
            <th>Action</th>
        </tr>
        {% for student in students %}
        <tr>
            <td> {{ student.first_name }} </td>
            <td> {{student.last_name}} </td>
            <td> {{ student.email}} </td>
            <td> {{ student.age }} </td>
            <td> {{ student.college }} </td>
            <td><button>
                <a href="{% url 'editStudent' student.pk %}">Edit</a>
            </button></td>
            <td>
                <form action="{% url 'deleteStudent' student.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>